<p>Dear <%= @member.full_name %>,</p>

<p>You have been added as a member to the Spartan Running Club website at <%= @url %><br>
If you are not a member of this club, please contact one of the officers to be removed from the site.<br>
Their contact information can be found at <%= "#{@url}/contact" %></p>

<p>Your log in information is the following:<br>
Email: <%= @member.email %><br>
Password: <%= @member.password %></p>

<p>Once you have signed in, you may change your password if you wish.</p>

<p>Thanks and welcome to the Spartan Running Club!<br>
-The Spartan Running Club Team</p>