.form-group.form-inline
	=text_field_tag :name, nil, placeholder: 'Name', class: 'form-control', id: "#{@relationship}_name"
	=hidden_field_tag :member_id, nil, id: "#{@relationship}_id"
	=link_to 'Add', member_meetings_path, method: :post, remote: true, id: "submit_#{@relationship.downcase}", class: 'btn btn-primary'
	=link_to 'Cancel', '#', remote: true, id: "cancel_#{@relationship.downcase}", class: 'btn btn-default'
:javascript
	autocomplete_with_hidden_id('##{@relationship}_name', '##{@relationship}_id', '#{autocomplete_members_path}');
	autocomplete_keydown('##{@relationship}_name');
	/*$('#submit_#{@relationship.downcase}').on('ajax:beforeSend', function(event, xhr, settings) {
		settings.url += '?member_meeting[relationship]=#{@relationship}'
		$('#new_#{@relationship.downcase}_link').toggle();
		$('##{@relationship.downcase}_form').html('');
	});*/
